
<app-header></app-header>
<app-navbar></app-navbar>




























<!-- <h1>First Angular App</h1> -->
<!-- <h2>{{title}}</h2> -->
<!-- <p>{{1+1}}</p>

<img [src]="imgURL" alt=""/>
<button [disabled]="isDisable">disable button</button>
<!-- class binding-->
 <!-- <button 
 [class.active]="isActive" 
 [class.no-active]="!isActive"
 [class.active-border]="isActive"
 [class.no-active-border]="!isActive" 
 >
 click me</button> -->
 <!--style binding-->
 <!-- <button [class.apple]="fruitName=='apple'">Fruit Ninja</button>

 <button 
 [style.background]="isActive?'red':'green'"
 [style.border]="isActive?'3px solid yellow':''"
 >click</button>

 <button [class.active]='isActive'>Class binding</button> -->

 <!--Event biding-->
 <!-- <button (click)="buttonClick()">Click me event binding</button>


 <input type="text" (keyup)="keyEnter($event)">  -->

 <!-- <input type="text" (keyup.enter)="keyUpFiltering(user)" #user id="userInput"> -->
  <!--two way data binding-->
  <!-- <input type="text" [value]="username" #username (keyup.enter)="updateUserName(username)"> -->

  <!-- <input type="text" [(ngModel)]="username">
  <h3>{{username}}</h3>
   -->

   <!--one way data binding vs two way data binding-->
  <!--  <input type="text" [value]='textValue' (keyup.enter)="onKeyUp()">
<br>
    <input type="text" [(ngModel)]='textValue' (keyup.enter)="onKeyUp()"> -->
<!--old way-->
<!-- <h2 *ngIf="isLoggedIn; else message">{{userName}}</h2>
<h4 *ngIf="!isLoggedIn">User is not logged in</h4>
<ng-template #message>
    <h4 >User is not logged in(Loaded using ngTemplate)</h4>
</ng-template>



<!--new way-->
<!--
@if ( isLoggedIn) {
    <h3 >{{userName}}(loaded using if syntax block)</h3>
}
@else {
    <h4 >User logged out (loaded using else syntax block)</h4>
}
@if (!isLoggedIn) {
    <h4 >User logged out (loaded using if syntax block)</h4>
} -->


<!--Multiple conditions-->
<!-- <h4 *ngIf="isAdmin">Welcome admin</h4>
<h4 *ngIf="isMember">Welcome member</h4>
<h4 *ngIf="isGuest">Welcome guest</h4> -->

<!--ngIf and Else conditions-->
<!-- <h4 *ngIf="isAdmin; else memberMessage">Welcome admin</h4>
<ng-template #memberMessage>
    <h4 *ngIf="isMember; else guestMessage">Welcome member</h4>
</ng-template>
<ng-template #guestMessage>
    <h4 *ngIf="isGuest">Welcome guest</h4>
</ng-template> -->
<!--@if, @else snytax approach-->
<!-- @if (isAdmin) {
    <h4>Welcome admin</h4>
}
@else if (isMember) {
    <h4>Welcome Member</h4>
}@else if (isGuest) {
    <h4>Welcome Guest</h4>
}
<button (click)="countLoginAttempts()" *ngIf="loginCount<3">Log In</button>
<h4 *ngIf="loginCount>=3">Exceeded 3 login attempts. Please try again later.</h4> -->
<!-- @if (loginCount<3) {
    <button (click)="countLoginAttempts()">Log In</button>
}
@if(loginCount>=3){
    <h4 >Exceeded 3 login attempts. Please try again later.</h4>
} -->

<!--if directive with string values-->
<!-- <h4 *ngIf="userRole=='Admin';else message">Welcome Admin</h4>
<ng-template #message>
    <h4>Welcome Member</h4>
</ng-template> 
@if (userRole=='Admin') {
    <h4 >Welcome Admin</h4>
}
@else if (userRole=='Member') {
    <h4>Welcome Member</h4>
} -->

<!-- <ng-template>
    <p>This content is inside ng-template.</p>
</ng-template>

<ng-template #callToAction>
    <button>Join now</button>
</ng-template>

<div [ngTemplateOutlet]="callToAction">
    <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Hero</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Footer</h5>
</div> -->
<!-- 
<h3>{{users}}</h3> -->

<!-- <h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3> -->
<!-- 
<h3 *ngFor="let user of users">{{user}}</h3> -->

<!-- <p>Using for syntax approach</p>
@for(user of users; track user){
    <h3>{{user}}</h3>

    
}
<ul>
    <li *ngFor="let user of users">
        {{user}}
    </li>
</ul>
<ul>
    @for(user of users; track user){    
        <li>{{user}}</li>
    }
</ul> -->
<!-- <div *ngIf="userObj.length==0">
    <p>No users to display</p>
</div>
<ul>
    <li *ngFor="let user of userObj; let i = index; let usersCount=count">
       {{usersCount}} - {{i}} {{user.id}} {{user.name}} {{user.email}} 
       <button (click)="onDelete(i)">Delete</button>
    </li>
</ul> -->

<!-- <ul>
    @if(userObj.length==0){
        
    }
    @for (user of userObj; track user;
        let i=$index; 
        let usersCount=$count;
        let first=$first; 
        let last=$last;
        let even =$even;
        let odd= $odd
    ) {
    <li>
       {{even}} {{odd}}  {{usersCount}} {{i}} {{user.id}} {{user.name}} {{user.email}} 
       <button (click)="onDelete(i)">Delete</button>
    </li>
    }
    @empty {
         <p>No users to display - Loaded using empty Syntax</p>
    }
</ul> 

<!--Angular change detection Mechanism-->

<!--<button (click)="addNewUser()">Add new user</button> -->

<!-- <div [ngSwitch]="usersRole">
    <p *ngSwitchCase="'Admin'">Welcome Admin</p>
    <p *ngSwitchCase="'Member'">Welcome Member</p>
    <p *ngSwitchCase="'Editor'">Welcome Editor</p>
    <p *ngSwitchDefault>Please login</p>
</div> -->
<!-- 
@switch (usersRole) {
    @case ('Admin') {
        <p>Welcome Admin</p>
    }
    @case ('Member') {
        <p>Welcome Member</p>
    }
    @case ('Editor') {
        <p>Welcome Editor</p>
    }
    @default {
         <p>Please login</p>
    }

} -->

<!--We are using property binding with css to change the style-->
<!-- <h1 [style.color]="isLoggedIn ? 'green' : 'red'" [style.textTransform]="isLoggedIn ? 'uppercase' : 'lowercase'">Welcome Admin</h1>
 -->
<!--Using ngStyle directive-->
<!-- <h1 [ngStyle]="{ 
    'color':isLoggedIn ? 'green' : 'red',
    'textTransform':isLoggedIn ? 'uppercase' : 'lowercase'}"
    >Ng Style directive</h1> -->

<!--Here we are using class binding. Css class is applied if isLoggedIn is true -->
<!-- <h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn">Class binding</h1>
<h1 [ngClass]="{
    'login':isLoggedIn,
    'logout':!isLoggedIn
}">Ng class directive</h1> -->