.active{
    background-color: green;
    border: 3px solid yellow;
}
.no-active{
    background-color: red;
}
.active-border{
    border: 5 px solid yellow;
}
.no-active-border{
    border: 5 px solid blue;
}
.apple{
    background-color: red;
    border: 1px solid green;
}
.login{
    color: green;
    text-transform: uppercase;
}
.logout{
    color: red;
    text-transform: lowercase;
}
.form-center{
    margin: 0 auto;
    width: 250px;
}
.alert{
    color: red;
}
input.ng-invalid{
    border: 2px solid red;
}

textarea.ng-invalid{
    border: 2px solid red;
}

